<head>
  <meta charset="utf-8">
  <title>Egy Pets</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Btns ganerate  -->
  <link rel="stylesheet" href="css/bootstrap-social.css">


  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://app.simplefileupload.com/buckets/2c98a5728f1dde769967342f12ccdbbc.js"></script>


</head>

<body>

  <section style="margin-bottom:0px;" class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark ">

        <a class="navbar-brand" href="/find"> <img style="zoom:40%;" class="brand" src="/css/images/blob.png" /></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link" href="/find">find pets</a>
            </li>
          </ul>

        </div>
      </nav>

      <h2> Add your Pets</h2>
      <div class="row" style="position:relative;bottom:150px;">

        <div class="col-sm-5">


          <form action="/addpets" method="POST" enctype="multipart/form-data" autocomplete="off">
            <div class="form-group">
              <input type="" list="citiesUserList" name="petsCategory" placeholder="Category" class="form-control profForm" required />
              <datalist id="citiesUserList">
                <option value="Dogs">
                <option value="Cats">
                <option value="Birds">
                <option value="Reptiles">
                <option value="Fish">
                <option value="Rabbits">
                <option value="Poultry">
                <option value="Hamsters">
                <option value="Ferrets">
                <option value="Horses">

              </datalist>
            </div>
            <div class="form-group">
              <input type="number" class="form-control profForm" name="age" placeholder="Age" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control profForm" name="specialMarks" placeholder=" Special Marks">
            </div>
            <div class="form-group">
              <input type="text" class="form-control profForm" name="healthStatus" placeholder=" Health Status">
            </div>

            <div class="form-group">
              <label for="image">Upload your Pets photo</label>
              <input type="file" id="image" name="image" value="">
              <input type="hidden" name="avatar_url" id="avatar_url" class="simple-file-upload">

            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-dark"> <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>SuBmiT</button>
            </div>
          </form>
        </div>
        <div class="col-sm-7">
          <img class="picSize" src="css/images/petsProfff.png" alt="Profile-pets">
          <button style="width:132%; border:none;" type="submit" class="btn btn-outline-light" id="profileBtn"><i class="fa fa-plus-circle" aria-hidden="true"></i><a class="color" href="/find">
              <h5>Involve With our Community</h5>
            </a> </button>

        </div>


      </div>

    </div>

  </section>
  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2022 EgyDog</p>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="public/index.js" charset="utf-8"></script>
