
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}
.cardProfileImg{
  border-radius: 50%;

}
a.disabled {
    pointer-events: none;
}
.tacbox {
  display:block;
  padding: 1em;
  margin: 2em;
  border: 3px solid #ddd;
  background-color: #ff4c68;
  max-width: 800px;
}

.tacbox input {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}
.brand{
  height: 450px;
  width: 450px;
}

/* customs genral class */

.color{
    text-decoration: none;
  color: #fff;
}
.color:hover {
  color: #ff4c68;
  text-decoration: none;

}

.register{
  line-height: 1.5;
  color: #ff4c68;


}
.picSize{

width: 800px;
height:350px;


}
/* notefication tool bar */


/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;

}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 2%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}





#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media screen and (max-width: 600px) {
.row{
  margin-left:25%;
}
#addPet_row{
  height: 100%;

}
.visit_user{
  height: 100%;
}
.visit_botom{
  margin-bottom: 240px;
}
.specify{
  position: relative;top: 300px;
}
#inbox_rows{
width: 130%;

}
.email-list-wrapper{
  display: none;
}
.email-toolbars-wrapper{
  display: block;
}



}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .row {
    display: block;
    height: 100%;
  }
  .row .card{
  position: relative;
  left: 200px;
  top:100px;
  height: 800px;
  }
}

/*     registerr responsive  */
@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }

}



/* make some page more responsive in mob */





/*  Find page    */
.searchForm{
background-color: #ff4c68;
height: 70px;
}
.searchForm h1 a{
  margin: 0px;
  display: inline-block;
  position: relative;
  right: 640px;
  top: 50px;
  color: #fff;
  text-decoration: none;
}

.searchInput{
width: 50%;
margin-top: 10px;
margin-bottom: 2px;
border-radius: 10%;
text-align: center;
border-top: dotted;
border-style: none;
background-color: #FFE6E6;
}
.ul-findP li {
  display: inline-block;
  position: relative;
  left: 30%;

}
.ul-findP a{
  color: #fff;
  text-decoration: none;
}

.cardV {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #FFE6E6;
    margin: 20px;
    height: 500px;
    box-shadow: 0 5px 10px #ff4c68;
    text-align: left;
  padding: 25px;
  max-width: 400px;
  min-width: 400px;
  text-align: center;
  }
.cardV span{
  color:grey;
  font-weight: bold;
}
  .top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #ff4c68;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }

  .name {
    font-size: 2em;
    color: #fff;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
  }

  .card img {
    margin: 30px 20px 0 0;
    border: 7px solid #fff;
  }
.petsImg{

  width: 150px;
  height: 150px;
}
  .circle-img {
    border-radius: 50%;
    border: 7px solid #fff;
    width: 120px;
    height: 120px;
  }

  .bottom {
    margin-top: 70px;
  }

  .info {
    margin: 20px 0;
  }

  .cardinfo1{
margin: 10px ;
color: #000000;
font-family: cursive;

  }

  /*  User page    */

.profileUsers{
  height: 1000px;
}


.userData span{

  color: #ff4c68;
  font-family: cursive;
  font-size: 25px;


}
.profileUsers{

}
.circle-imgUser{
  border: 7px solid #F0A500;
  width: 200px;
  height: 300px;
position: relative;
left: 100px;
border-width: 2px;
}
.userCardTop{
  height: 300px;
  margin-top: 35px;
  background-color: #FFC7C7;
}
.cardUser{
  height: 650px;
  margin: 0px;
  position: relative;
  bottom: 290px;
  right:120px;
  background-color: #FFC7C7;
  border: 3px solid #F0A500;

}
.bottomUser{
position: relative;
top:300px;
background-color: #FFC7C7;

}
.colorUser{
background-color: #F0A500;
height: 40px;
width: 400px;
position: relative;
bottom:-60px;
right: 23px;
border-radius: 20%;
}
.info span{
  color: #231955;
}

.info p{
  color: #F0A500;
  font-weight: bold;

}
.userHeader{
  width: 450px;
  background-color: F6F6F6;
  position: relative;
  left: 350px;
  bottom: 50px;
  color: #231955;
}
.userTools{
  background-color:#ff4c68;
  color: #231955;
  position: relative;
  left: 520px;
}
.userTools ul{
  position: relative;
  right: 120px;

}
.logoUser{
  position: relative;
  bottom: 100px;
  left: 450px;
}

#testimonials {
  background-color: #FFC7C7;
  width: 700px;
  height: 300px;
  position: relative;
  bottom: 670px;
  left: 260px;
  border-style:solid;
  border-color: #F0A500;
}
.carusol-color{
  color: #231955;

}

hr{
  border-style: none;
  border-top: dotted;
  width: 20%;
  border-color: #ef8172;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;

}

.btnCard {
  background: #FFE6E6;
  background-image: -webkit-linear-gradient(top, #FFE6E6, #ff4c68);
  background-image: -moz-linear-gradient(top, #FFE6E6, #ff4c68);
  background-image: -ms-linear-gradient(top, #FFE6E6, #ff4c68);
  background-image: -o-linear-gradient(top, #FFE6E6, #ff4c68);
  background-image: linear-gradient(to bottom, #FFE6E6, #ff4c68);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 4px 0px 3px #ffffff;
  -webkit-box-shadow: 0px 4px 10px #666666;
  -moz-box-shadow: 0px 4px 10px #666666;
  box-shadow: 0px 4px 10px #666666;
  font-family: Courier New;
  color: #000000;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border: solid #ededed 1px;
  text-decoration: none;
  margin-left: 20px;
}
.btnCard:hover {
  color: #ffffff;

}

/*  editpd && editads page    */
.myTable{
  text-align: center;
  width: 1050px;
  box-shadow: 0px 10px 10px  #666666;
  border-top-style: dashed;
  border-width: 2px;
  border-radius: 10%;
border-color: #ef8172;
position: relative;
bottom: 100px;
}
 .tableEdit{
  color: #ededed;
  border-style: none;
  border-radius: 5px;
  background-color: #ef8172;
}
.tableEdit:hover {
  color: #000000;
  letter-spacing: 3px;

}



                                                           /*  MAIL PAGes    */
.bodyMail{
  background-image: url('https://www.transparenttextures.com/patterns/gray-floral.png');"
}
.cardMail{
  border-style: none;
}

.jspPane{
color: #231955;
-webkit-box-shadow: 0px 10px 10px #ff4c68;
}
.ks-from span{
  color: #231955;
}
.ks-self span{
color: #F0A500;
}
.ks-from p{
  color: #231955;
  font-weight: bold;
  font-family: sans-serif;
}

.ks-self p{
  color: #F0A500;
  font-weight: bold;
  font-family: sans-serif;
}

.mailPage{
  position: relative;
  bottom: 5px;
}
.ks-page-content-body{
  -webkit-box-shadow: 0px 4px 10px #ff4c68;
  color: #231955;
}
.ks-footer{
  -webkit-box-shadow: 0px 4px 10px #231955;

}
.ks-name{
  color: #231955;
  font-weight: bold;
  font-family: cursive;

}

.spanMail{
color: #ff4c68;
font-weight: bold;
}

.viewIs{
  position: relative;
      top: 0;
}
.ks-page-content{
    margin-top:20px;
}

.ks-messenger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    height: 100%
}

.ks-messenger .ks-discussions {
    background: #fff;
    width: 340px;
    border-right: 1px solid #dee0e1
}

.ks-messenger .ks-discussions>.ks-search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #dee0e1
}

.ks-messenger .ks-discussions>.ks-search>.input-icon {
    width: 100%
}

.ks-messenger .ks-discussions>.ks-search .form-control {
    border: none;
    padding: 28px 20px
}

.ks-messenger .ks-discussions>.ks-search .icon-addon {
    color: rgba(58, 82, 155, .6)
}

.ks-messenger .ks-discussions>.ks-body .ks-items {
    list-style: none;
    padding: 0;
    margin: 0
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item {
    border-bottom: 1px solid #dee0e1
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item>a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333;
    padding: 15px 20px
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item>a>.ks-group-amount {
    position: relative;
    top: 3px;
    margin-right: 12px;
    width: 36px;
    height: 36px;
    background-color: rgba(57, 81, 155, .1);
    text-align: center;
    line-height: 36px;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item>a>.ks-group-amount>.ks-badge {
    position: absolute;
    bottom: -1px;
    right: -3px
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item>a>.ks-avatar {
    position: relative;
    top: 3px;
    margin-right: 12px
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item>a>.ks-avatar>img {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item>a>.ks-avatar>.ks-badge {
    position: absolute;
    bottom: -3px;
    right: -3px
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item>a>.ks-body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item>a>.ks-body>.ks-message {
    font-size: 12px;
    color: #858585;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item>a>.ks-body>.ks-message>img {
    position: relative;
    top: -2px;
    width: 18px;
    height: 18px;
    margin-right: 5px
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item>a>.ks-body>.ks-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    margin-bottom: 4px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item>a>.ks-body>.ks-name>.ks-datetime {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    color: #858585;
    position: relative;
    top: 3px
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item.ks-active {
    background: #ebeef5;
    color: #333;
    position: relative
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item.ks-active::before {
    content: '';
    width: 4px;
    height: 100%;
    background: #d7dceb;
    display: block;
    position: absolute;
    top: 0;
    left: 0
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item.ks-active>a>.ks-group-amount {
    background-color: rgba(57, 81, 155, .1)
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item.ks-unread {
    background: rgba(247, 202, 24, .1)
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item.ks-unread>a>.ks-body>.ks-message {
    color: #333
}

.ks-messenger .ks-discussions>.ks-body .ks-items>.ks-item.ks-unread>a>.ks-group-amount {
    background-color: rgba(222, 187, 12, .2)
}

.ks-messenger .ks-messages,
.ks-messenger__messages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: #fff
}

.ks-messenger .ks-messages>.ks-header,
.ks-messenger__messages>.ks-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #dee0e1;
    padding: 9px 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.ks-messenger .ks-messages>.ks-header>.ks-description>.ks-name,
.ks-messenger__messages>.ks-header>.ks-description>.ks-name {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
    font-weight: 500
}

.ks-messenger .ks-messages>.ks-header>.ks-description>.ks-amount,
.ks-messenger__messages>.ks-header>.ks-description>.ks-amount {
    color: #858585;
    font-size: 12px;
    line-height: 12px
}

.ks-messenger .ks-messages>.ks-body,
.ks-messenger__messages>.ks-body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.ks-messenger .ks-messages>.ks-body .ks-items,
.ks-messenger__messages>.ks-body .ks-items {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 20px
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-separator,
.ks-messenger__messages>.ks-body .ks-items>.ks-separator {
    color: #858585;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 15px
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item,
.ks-messenger__messages>.ks-body .ks-items>.ks-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    margin-bottom: 12px
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item:last-child,
.ks-messenger__messages>.ks-body .ks-items>.ks-item:last-child {
    margin-bottom: 0
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body {
    font-size: 12px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 12px 15px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: relative
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-header,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2px
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-header>.ks-name,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-header>.ks-name {
    font-weight: 500
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-header>.ks-datetime,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-header>.ks-datetime {
    font-size: 10px;
    text-transform: uppercase;
    color: #858585
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-link,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-link {
    position: relative;
    margin-top: 10px;
    padding-left: 12px
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-link:before,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-link:before {
    content: '';
    width: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(57, 81, 155, .2)
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files {
    list-style: none;
    padding: 0;
    margin: 0
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file {
    float: left;
    margin-top: 15px;
    margin-right: 15px
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a {
    display: block;
    color: #333;
    vertical-align: top
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-info,
.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-thumb,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-info,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-thumb {
    float: left
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-thumb,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-thumb {
    margin-right: 5px;
    text-align: center
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-thumb>.ks-icon,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-thumb>.ks-icon {
    font-size: 36px;
    line-height: 36px
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-thumb>img,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-thumb>img {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-info>.ks-name,
.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-info>.ks-size,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-info>.ks-name,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-info>.ks-size {
    display: block
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-info>.ks-name,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-info>.ks-name {
    font-size: 12px;
    margin-bottom: 2px
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-info>.ks-size,
.ks-messenger__messages>.ks-body .ks-items>.ks-item>.ks-body>.ks-message>.ks-files>.ks-file a>.ks-info>.ks-size {
    font-size: 10px;
    text-transform: uppercase;
    color: #858585
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item.ks-self>.ks-avatar,
.ks-messenger__messages>.ks-body .ks-items>.ks-item.ks-self>.ks-avatar {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item.ks-self>.ks-body,
.ks-messenger__messages>.ks-body .ks-items>.ks-item.ks-self>.ks-body {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    border: solid 1px #dee0e1;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 14px;
    margin-right: 50px
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item.ks-self>.ks-body:before,
.ks-messenger__messages>.ks-body .ks-items>.ks-item.ks-self>.ks-body:before {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    top: -1px;
    width: 0;
    height: 0;
    border-top: 10px solid #dee0e1;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 10px solid transparent
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item.ks-self>.ks-body:after,
.ks-messenger__messages>.ks-body .ks-items>.ks-item.ks-self>.ks-body:after {
    content: '';
    display: block;
    position: absolute;
    left: -8px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 10px solid transparent
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item.ks-from>.ks-avatar,
.ks-messenger__messages>.ks-body .ks-items>.ks-item.ks-from>.ks-avatar {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item.ks-from>.ks-body,
.ks-messenger__messages>.ks-body .ks-items>.ks-item.ks-from>.ks-body {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    background-color: #eff1f7;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: 14px;
    margin-left: 50px
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item.ks-from>.ks-body:before,
.ks-messenger__messages>.ks-body .ks-items>.ks-item.ks-from>.ks-body:before {
    content: '';
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #eff1f7
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item.ks-unread>.ks-body,
.ks-messenger__messages>.ks-body .ks-items>.ks-item.ks-unread>.ks-body {
    background: #fcf8e7
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item.ks-unread.ks-self>.ks-body:after,
.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item.ks-unread.ks-self>.ks-body:before,
.ks-messenger__messages>.ks-body .ks-items>.ks-item.ks-unread.ks-self>.ks-body:after,
.ks-messenger__messages>.ks-body .ks-items>.ks-item.ks-unread.ks-self>.ks-body:before {
    border-top: 10px solid #fcf8e7
}

.ks-messenger .ks-messages>.ks-body .ks-items>.ks-item.ks-unread.ks-from>.ks-body:before,
.ks-messenger__messages>.ks-body .ks-items>.ks-item.ks-unread.ks-from>.ks-body:before {
    border-left: 10px solid #fcf8e7
}

.ks-messenger .ks-messages>.ks-footer,
.ks-messenger__messages>.ks-footer {
    padding: 15px 20px;
    border-top: 1px solid #dee0e1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex
}

.ks-messenger .ks-messages>.ks-footer>.form-control,
.ks-messenger__messages>.ks-footer>.form-control {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 38px;
    overflow: hidden;
    resize: none;
    margin-right: 20px
}

.ks-messenger .ks-messages>.ks-footer>.ks-controls,
.ks-messenger__messages>.ks-footer>.ks-controls {
    text-align: right;
    width: 207px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.ks-messenger .ks-messages>.ks-footer>.ks-controls .ks-attachment,
.ks-messenger .ks-messages>.ks-footer>.ks-controls .ks-smile,
.ks-messenger__messages>.ks-footer>.ks-controls .ks-attachment,
.ks-messenger__messages>.ks-footer>.ks-controls .ks-smile {
    font-size: 22px;
    color: #8997c3;
    line-height: 22px;
    margin-left: 25px
}

.ks-messenger .ks-messages>.ks-footer>.ks-controls>.dropdown,
.ks-messenger__messages>.ks-footer>.ks-controls>.dropdown {
    display: inline-block
}

.ks-messenger .ks-messages>.ks-footer>.ks-controls>.dropdown>.ks-smile,
.ks-messenger__messages>.ks-footer>.ks-controls>.dropdown>.ks-smile {
    padding: 0
}

.ks-messenger .ks-messages>.ks-footer>.ks-controls>.dropdown>.ks-smileys,
.ks-messenger__messages>.ks-footer>.ks-controls>.dropdown>.ks-smileys {
    width: 200px;
    height: 167px
}

.ks-messenger .ks-messages>.ks-footer>.ks-controls>.dropdown>.ks-smileys .ks-smileys-wrapper,
.ks-messenger__messages>.ks-footer>.ks-controls>.dropdown>.ks-smileys .ks-smileys-wrapper {
    padding: 10px
}

.ks-messenger .ks-messages>.ks-footer>.ks-controls>.dropdown>.ks-smileys table,
.ks-messenger__messages>.ks-footer>.ks-controls>.dropdown>.ks-smileys table {
    width: 100%
}

.ks-messenger .ks-messages>.ks-footer>.ks-controls>.dropdown>.ks-smileys table td,
.ks-messenger__messages>.ks-footer>.ks-controls>.dropdown>.ks-smileys table td {
    vertical-align: middle;
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer
}

.ks-messenger .ks-messages>.ks-footer>.ks-controls>.dropdown>.ks-smileys table tr:last-child td,
.ks-messenger__messages>.ks-footer>.ks-controls>.dropdown>.ks-smileys table tr:last-child td {
    padding-bottom: 0
}

.ks-messenger .ks-messages>.ks-files,
.ks-messenger__messages>.ks-files {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: -10px
}

.ks-messenger .ks-messages>.ks-files>.ks-file,
.ks-messenger__messages>.ks-files>.ks-file {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    position: relative
}

.ks-messenger .ks-messages>.ks-files>.ks-file:hover>.ks-thumb,
.ks-messenger__messages>.ks-files>.ks-file:hover>.ks-thumb {
    border: solid 1px #42a5f5
}

.ks-messenger .ks-messages>.ks-files>.ks-file>.ks-thumb,
.ks-messenger__messages>.ks-files>.ks-file>.ks-thumb {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px #dee0e1;
    margin-bottom: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    color: #25628f
}

.ks-messenger .ks-messages>.ks-files>.ks-file>.ks-thumb::before,
.ks-messenger__messages>.ks-files>.ks-file>.ks-thumb::before {
    width: 100%
}

.ks-messenger .ks-messages>.ks-files>.ks-file>img.ks-thumb,
.ks-messenger__messages>.ks-files>.ks-file>img.ks-thumb {
    border: none
}

.ks-messenger .ks-messages>.ks-files>.ks-file>.ks-name,
.ks-messenger__messages>.ks-files>.ks-file>.ks-name {
    display: block;
    font-size: 12px;
    font-weight: 400;
    color: #333
}

.ks-messenger .ks-messages>.ks-files>.ks-file>.ks-size,
.ks-messenger__messages>.ks-files>.ks-file>.ks-size {
    position: relative;
    top: -2px;
    font-size: 10px;
    color: #858585
}

.ks-messenger .ks-info,
.ks-messenger__info {
    width: 240px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-left: 1px solid #dee0e1
}

.ks-messenger .ks-info>.ks-header,
.ks-messenger__info>.ks-header {
    border-bottom: 1px solid #dee0e1;
    line-height: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    padding: 20px
}

.ks-messenger .ks-info>.ks-body,
.ks-messenger__info>.ks-body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 20px
}

.ks-messenger .ks-info>.ks-body>.ks-item+.ks-item,
.ks-messenger__info>.ks-body>.ks-item+.ks-item {
    margin-top: 10px
}

.ks-messenger .ks-info>.ks-body>.ks-item.ks-user,
.ks-messenger__info>.ks-body>.ks-item.ks-user {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex
}

.ks-messenger .ks-info>.ks-body>.ks-item.ks-user>.ks-avatar,
.ks-messenger__info>.ks-body>.ks-item.ks-user>.ks-avatar {
    margin-right: 12px
}

.ks-messenger .ks-info>.ks-body>.ks-item.ks-user>.ks-name,
.ks-messenger__info>.ks-body>.ks-item.ks-user>.ks-name {
    line-height: 31px;
    color: #333
}

.ks-messenger .ks-info>.ks-body>.ks-item>.ks-name,
.ks-messenger__info>.ks-body>.ks-item>.ks-name {
    color: #858585;
    margin-bottom: 3px
}

.ks-messenger .ks-info>.ks-body>.ks-list>.ks-header,
.ks-messenger__info>.ks-body>.ks-list>.ks-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #858585;
    margin-bottom: 15px
}

.ks-messenger .ks-info>.ks-body>.ks-list .ks-item,
.ks-messenger__info>.ks-body>.ks-list .ks-item {
    margin-bottom: 15px
}

.ks-messenger .ks-info>.ks-body>.ks-list .ks-item.ks-user,
.ks-messenger__info>.ks-body>.ks-list .ks-item.ks-user {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex
}

.ks-messenger .ks-info>.ks-body>.ks-list .ks-item.ks-user>.ks-avatar,
.ks-messenger__info>.ks-body>.ks-list .ks-item.ks-user>.ks-avatar {
    margin-right: 12px
}

.ks-messenger .ks-info>.ks-body>.ks-list .ks-item.ks-user>.ks-name,
.ks-messenger__info>.ks-body>.ks-list .ks-item.ks-user>.ks-name {
    line-height: 31px;
    color: #333
}

.ks-messenger .ks-info>.ks-body>.ks-list .ks-item>.ks-owner,
.ks-messenger__info>.ks-body>.ks-list .ks-item>.ks-owner {
    position: relative;
    top: 1px
}

.ks-messenger .ks-info>.ks-body>.ks-list .ks-item>.ks-owner>.ks-name,
.ks-messenger__info>.ks-body>.ks-list .ks-item>.ks-owner>.ks-name {
    display: block;
    line-height: 13px
}

.ks-messenger .ks-info>.ks-body>.ks-list .ks-item>.ks-owner>.ks-label-sm,
.ks-messenger__info>.ks-body>.ks-list .ks-item>.ks-owner>.ks-label-sm {
    padding: 2px;
    font-size: 9px
}

.ks-messenger .ks-info>.ks-footer,
.ks-messenger__info>.ks-footer {
    padding: 20px;
    border-top: 1px solid #dee0e1
}

.ks-messenger .ks-info>.ks-footer>.ks-item+.ks-item,
.ks-messenger__info>.ks-footer>.ks-item+.ks-item {
    margin-top: 10px
}

.ks-messenger .ks-info>.ks-footer>.ks-item>.ks-name,
.ks-messenger__info>.ks-footer>.ks-item>.ks-name {
    color: #858585;
    margin-bottom: 3px
}

.ks-messenger .ks-info>.ks-footer>.btn-block,
.ks-messenger__info>.ks-footer>.btn-block {
    margin-top: 15px
}

@media screen and (max-width:1200px) {
    .btn.ks-messenger-info-block-toggle {
        position: static
    }
    .ks-messenger .ks-info,
    .ks-messenger__info {
        position: relative;
        top: 120px;
        bottom: 0;
        right: -241px;
        z-index: 4;
        height: -webkit-calc(100% - 120px);
        height: calc(100% - 120px)
    }
    .ks-messenger .ks-info.ks-open,
    .ks-messenger__info.ks-open {
        right: 0;
        -webkit-transition: right .2s ease;
        transition: right .2s ease
    }
    #chattingArea{
      position: fixed;
      left: -30px;
      height: 100%;
    }
}


   /*------------------------ inbox Page------------------------------------------ */

.inboxBody{
    background:#DCDCDC;
    margin-top:20px;
}

.email-app {
  display: flex;
}
.email-list-item{
  border-radius: 20px;
  background-color: yellow;
}

.email-app .email-desc-wrapper {
  width: 90%;
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0px 0px 10px 0px #ff4c68;
  -webkit-box-shadow: 0px 0px 10px 0px #ff4c68;
  border-radius: 2rem;
  border-style:solid;
  border-color: #ef8172;
}

.frameInbox{
 border-style: none;
 border-radius: 2rem;

}




.email-app .email-toolbars-wrapper {
  background-color: #ffffff;
  width: 20%;
  margin-right: 1.5rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.email-app .email-toolbars-wrapper .toolbar-header {
  padding: 1rem;
  flex-flow: row;
  display: flex;
  align-items: center;
}

.email-app .email-toolbars-wrapper .toolbar-header .btn-compose-mail {
  background: #F4F7FD;
  font-weight: 300;
  letter-spacing: .5px;
  border: none;
  transition: all, 0.3s;
  color: #ffffff;
  background-image: -webkit-linear-gradient(left, #22b9ff 0%, rgba(34, 185, 255, 0.7) 100%);
  background-image: -o-linear-gradient(left, #22b9ff 0%, rgba(34, 185, 255, 0.7) 100%);
  background-image: linear-gradient(to right, #22b9ff 0%, rgba(34, 185, 255, 0.7) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF22B9FF', endColorstr='#B322B9FF', GradientType=1);
}

@media (prefers-reduced-motion: reduce) {
  .email-app .email-toolbars-wrapper .toolbar-header .btn-compose-mail {
    transition: none;
  }
}

.email-app .email-toolbars-wrapper .toolbar-header .btn-compose-mail svg {
  color: #ffffff;
  width: 22px;
  height: 22px;
}

.email-app .email-toolbars-wrapper .toolbar-header .btn-compose-mail:hover {
  box-shadow: 0px 1px 6px 0px rgba(34, 185, 255, 0.75);
}

.email-app .email-toolbars-wrapper .toolbar-body .toolbar-title {
  color: #727686;
  padding: 0 1rem .5rem 1rem;
}

.email-app .email-toolbars-wrapper .toolbar-body .toolbar-menu {
  padding: 0;
  margin-bottom: 1rem;
  height: auto;
  list-style-type: none;
}

.email-app .email-toolbars-wrapper .toolbar-body .toolbar-menu li {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  transition: 0.4s;
  position: relative;
}

.email-app .email-toolbars-wrapper .toolbar-body .toolbar-menu li:hover {
  color: #22b9ff;
}

.email-app .email-toolbars-wrapper .toolbar-body .toolbar-menu li:hover a {
  color: #22b9ff;
  font-weight: 600;
}

.email-app .email-toolbars-wrapper .toolbar-body .toolbar-menu li svg {
  margin-right: 0.625rem;
  width: 1rem;
  height: 1rem;
  line-height: 1.5;
}

.email-app .email-toolbars-wrapper .toolbar-body .toolbar-menu li a {
  flex: 1;
  color: #394044;
  font-size: 14px;
  text-decoration: none;
  transition: all, 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .email-app .email-toolbars-wrapper .toolbar-body .toolbar-menu li a {
    transition: none;
  }
}

.email-app .email-toolbars-wrapper .toolbar-body .toolbar-menu li.active a {
  color: #22b9ff;
  font-weight: 600;
}

.email-app .email-toolbars-wrapper .toolbar-body .toolbar-menu li.active svg {
  color: #22b9ff;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-header {
  padding: 1rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-header .contact-left {
  display: flex;
  align-items: center;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-header .contact-left .title {
  margin: 0 1rem 0 0;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-header .dropdown {
  float: right;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-list {
  padding: 0 1rem;
  list-style-type: none;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-list .contact-list-item {
  padding: .625rem 0;
  display: block;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-list .contact-list-item:last-child {
  border-bottom: 0;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-list .contact-list-item a {
  text-decoration: none;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-list .contact-list-item a .pro-pic {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0;
  width: 20%;
  max-width: 40px;
  position: relative;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-list .contact-list-item a .pro-pic img {
  max-width: 100%;
  width: 100%;
  border-radius: 100%;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-list .contact-list-item a .pro-pic .active {
  width: 12px;
  height: 12px;
  background: #17d1bd;
  border-radius: 100%;
  position: absolute;
  top: 6px;
  right: -4px;
  border: 2px solid #ffffff;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-list .contact-list-item a .pro-pic .inactive {
  width: 12px;
  height: 12px;
  background: #dde1e9;
  border-radius: 100%;
  position: absolute;
  top: 6px;
  right: -4px;
  border: 2px solid #ffffff;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-list .contact-list-item a .pro-pic .busy {
  width: 12px;
  height: 12px;
  background: #F95062;
  border-radius: 100%;
  position: absolute;
  top: 6px;
  right: -4px;
  border: 2px solid #ffffff;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-list .contact-list-item a .user {
  width: 100%;
  padding: 5px 10px 0 15px;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-list .contact-list-item a .user .user-name {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  color: #394044;
}

.email-app .email-toolbars-wrapper .toolbar-body .contact-list .contact-list-item a .user .user-designation {
  font-size: 12px;
  color: #727686;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  margin-bottom: 0;
}

.email-app .email-list-wrapper {
  width: 30%;
  margin-right: 1.5rem;
}

.email-app .email-list-wrapper .email-list-scroll-container {
  height: 100vh;
  position: relative;
}

.email-app .email-list-wrapper .email-list-header {
  padding: 1rem 0;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.email-app .email-list-wrapper .email-list {
  height: calc(100vh - 70px);
  list-style-type: none;
  padding: 0;
}

.email-app .email-list-wrapper .email-list .email-list-item {
  margin-bottom: 1.2rem;
  background-color: #ffffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.email-app .email-list-wrapper .email-list .email-list-item.active {
  border: 1.5px solid #22b9ff;
}

.email-app .email-list-wrapper .email-list .email-list-item .recipient {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0;
  margin-bottom: .7rem;
}

.email-app .email-list-wrapper .email-list .email-list-item .recipient img {
  margin-right: .5rem;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.email-app .email-list-wrapper .email-list .email-list-item .recipient .recipient-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: #727686;
}

.email-app .email-list-wrapper .email-list .email-list-item .recipient .recipient-name:hover {
  color: #22b9ff;
  text-decoration: none;
}

.email-app .email-list-wrapper .email-list .email-list-item .email-subject {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #394044;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: .7rem;
  text-decoration: none;
  line-height: 1.5;
  transition: all, 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .email-app .email-list-wrapper .email-list .email-list-item .email-subject {
    transition: none;
  }
}

.email-app .email-list-wrapper .email-list .email-list-item .email-subject .unread {
  flex-shrink: 0;
  margin-left: 1rem;
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
  display: block;
  background: #22b9ff;
}

.email-app .email-list-wrapper .email-list .email-list-item .email-subject:hover {
  color: #22b9ff;
}

.email-app .email-list-wrapper .email-list .email-list-item .email-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email-app .email-list-wrapper .email-list .email-list-item .email-footer .email-action a {
  margin-right: .5rem;
  transition: all, 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .email-app .email-list-wrapper .email-list .email-list-item .email-footer .email-action a {
    transition: none;
  }
}

.email-app .email-list-wrapper .email-list .email-list-item .email-footer .email-action a.starred {
  color: #fd7e14;
}

.email-app .email-list-wrapper .email-list .email-list-item .email-footer .email-action a.starred .fill {
  stroke-width: 1px;
  fill: #fd7e14;
  color: #fd7e14;
}

.email-app .email-list-wrapper .email-list .email-list-item .email-footer .email-action a.important {
  color: #ffc107;
}

.email-app .email-list-wrapper .email-list .email-list-item .email-footer .email-action a.important .fill {
  stroke-width: 1px;
  fill: #ffc107;
  color: #ffc107;
}

.email-app .email-list-wrapper .email-list .email-list-item .email-footer .email-action a.attachment {
  color: #727686;
}

.email-app .email-list-wrapper .email-list .email-list-item .email-footer .email-action a.attachment:hover {
  color: #22b9ff;
  text-decoration: none;
}

.email-app .email-list-wrapper .email-list .email-list-item .email-footer .email-action a svg {
  width: 20px;
  height: 20px;
}

.email-app .email-list-wrapper .email-list .email-list-item .email-footer .email-time {
  color: #B1BAC5;
}



.email-app .email-desc-wrapper .email-header {
  margin-bottom: 1.5rem;
}

.email-app .email-desc-wrapper .email-header .email-date {
  color: #727686;
  font-size: 13px;
  margin-bottom: .5rem;
}

.email-app .email-desc-wrapper .email-header .email-subject {
  color: #394044;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: .8rem;
  flex-shrink: 0;
}

.email-app .email-desc-wrapper .email-header .recipient {
  margin: 0;
  font-size: 14px;
  line-height: 1;
  color: #727686;
}

.email-app .email-desc-wrapper .email-header .recipient span {
  font-weight: 500;
  color: #394044;
}

.email-app .email-desc-wrapper .email-body {
  min-height: 350px;
  color: #727686;
  margin-bottom: 2rem;
}

.email-app .email-desc-wrapper .email-body p {
  font-size: 13px;
  margin-bottom: 1rem;
  line-height: 2;
}

.email-app .email-desc-wrapper .email-attachment {
  margin-bottom: 2rem;
}

.email-app .email-desc-wrapper .email-attachment .file-info {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.email-app .email-desc-wrapper .email-attachment .file-info .file-size {
  color: #B1BAC5;
  margin-right: .5rem;
  display: flex;
  align-items: center;
}

.email-app .email-desc-wrapper .email-attachment .file-info .file-size svg {
  width: 20px;
  height: 20px;
  margin-right: .5rem;
}

.email-app .email-desc-wrapper .email-attachment .file-info .btn, .email-app .email-desc-wrapper .email-attachment .file-info .wizard > .actions a, .wizard > .actions .email-app .email-desc-wrapper .email-attachment .file-info a, .email-app .email-desc-wrapper .email-attachment .file-info .fc button, .fc .email-app .email-desc-wrapper .email-attachment .file-info button {
  font-size: 13px;
  margin-right: .5rem;
  padding: 0.1875rem .7rem;
  box-shadow: none;
}

.email-app .email-desc-wrapper .email-attachment .attachment-list {
  padding: 0;
  height: 100%;
}

.email-app .email-desc-wrapper .email-attachment .attachment-list .attachment-list-item {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin: 0 .5rem .5rem 0;
  background-color: #d3f1ff;
  border-radius: 4px;
}

.email-app .email-desc-wrapper .email-attachment .attachment-list .attachment-list-item span {
  height: 80px;
  display: table-cell;
  vertical-align: middle;
  width: 80px;
  font-weight: 300;
  font-size: 1.5rem;
}

.email-app .email-desc-wrapper .email-attachment .attachment-list .attachment-list-item img {
  width: 100%;
  height: 100%;
}

.email-app .email-desc-wrapper .email-attachment .attachment-list .attachment-list-item:hover {
  cursor: pointer;
}

.email-app .email-desc-wrapper .email-action .btn, .email-app .email-desc-wrapper .email-action .wizard > .actions a, .wizard > .actions .email-app .email-desc-wrapper .email-action a, .email-app .email-desc-wrapper .email-action .fc button, .fc .email-app .email-desc-wrapper .email-action button {
  margin-right: .7rem;
}

.email-app .email-desc-wrapper .email-action .btn:first-child i, .email-app .email-desc-wrapper .email-action .wizard > .actions a:first-child i, .wizard > .actions .email-app .email-desc-wrapper .email-action a:first-child i, .email-app .email-desc-wrapper .email-action .fc button:first-child i, .fc .email-app .email-desc-wrapper .email-action button:first-child i {
  font-size: 13px;
  margin-left: .5rem;
}

.email-app .email-desc-wrapper .email-action .btn:last-child i, .email-app .email-desc-wrapper .email-action .wizard > .actions a:last-child i, .wizard > .actions .email-app .email-desc-wrapper .email-action a:last-child i, .email-app .email-desc-wrapper .email-action .fc button:last-child i, .fc .email-app .email-desc-wrapper .email-action button:last-child i {
  font-size: 13px;
  margin-right: .5rem;
}

@media (max-width: 575px) {
  .email-app .email-toolbars-wrapper,
  .email-app .email-desc-wrapper {
    display: none;
  }
  .email-app .email-list-wrapper {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .email-app .email-toolbars-wrapper {
    display: none;
  }
  .email-app .email-desc-wrapper {
    width: 60%;
  }
  .email-app .email-list-wrapper {
    width: 40%;
  }
}
